In [259]:
from copy import deepcopy

In [260]:

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [261]:
# from mempyDEB.DEBIBM import test
from mempyDEB.DEBIBM.simulators import * # imports functions to run models
from mempyDEB.DEBIBM.defaultparams import * # imports default parameters
from mempyDEB.DEBIBM.model import * #import model
import mempyDEB
#mempyDEB.__file__

In [262]:
p = deepcopy(defaultparams_DEBIBM)
#p.glb['tspan'] = (0,14)
p.glb['N_0']= 0

In [ ]:
sim = simulate_DEBIBM(p) # runs the baseline model (a variant of DEBkiss) with default parameters
mout, aout = sim

  0%|          | 0/3 [00:00<?, ?it/s]

In [264]:
mout

,index,t_day,X,Q,P,N_tot,M_tot,aging_mortality,starvation_mortality,toxicity_mortality,replicate,C_W
0,0,0.0,2.000000,0.010000,2.000000,0,0.0,0,0,0,0,0.0
1,1,0.0,2.098253,0.015788,1.959849,0,0.0,0,0,0,0,0.0
2,2,3.5,24.034047,0.340529,0.295467,0,0.0,0,0,0,0,0.0
3,3,7.0,128.496247,1.831983,0.000000,0,0.0,0,0,0,0,0.0
4,4,10.5,NaN,NaN,NaN,0,0.0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101,101,350.0,NaN,NaN,NaN,0,0.0,0,0,0,2,0.0
102,102,353.5,NaN,NaN,NaN,0,0.0,0,0,0,2,0.0
103,103,357.0,NaN,NaN,NaN,0,0.0,0,0,0,2,0.0
104,104,360.5,NaN,NaN,NaN,0,0.0,0,0,0,2,0.0
105,105,364.0,NaN,NaN,NaN,0,0.0,0,0,0,2,0.0

In [265]:
aout.loc[aout['AgentID']==2]

Empty DataFrame
Columns: [index, Step, AgentID, t_day, Idot, Adot, Mdot, S, R, X_V, f_X, D_h, D_j, h_z, eta_AS, k_M, eta_IA, eta_AR, X_emb, cum_repro, cohort, cause_of_death, mcov, replicate, C_W]
Index: []

[0 rows x 25 columns]