In [343]:
from copy import deepcopy

In [344]:

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [345]:
# from mempyDEB.DEBIBM import test
from mempyDEB.DEBIBM.simulators import * # imports functions to run models
from mempyDEB.DEBIBM.defaultparams import * # imports default parameters
from mempyDEB.DEBIBM.model import * #import model
import mempyDEB
#mempyDEB.__file__

In [346]:
p = deepcopy(defaultparams_DEBIBM)
#p.glb['tspan'] = (0,14)
p.glb['N_0']= 0
p.glb['data_collection_interval']=1
#p.glb['tres']=24

In [350]:
sim = simulate_DEBIBM(p) # runs the baseline model (a variant of DEBkiss) with default parameters
mout, aout = sim

  0%|          | 0/3 [00:00<?, ?it/s]c:\users\andre\documents\uni osnabrück\v semester - ws24-25\mem\projekte git\mempydeb\mempyDEB\DEBIBM\model.py:616: RuntimeWarning: invalid value encountered in log2
  return 1 - np.exp(-np.log2(fract))
 33%|███▎      | 1/3 [03:49<07:38, 229.26s/it]c:\users\andre\documents\uni osnabrück\v semester - ws24-25\mem\projekte git\mempydeb\mempyDEB\DEBIBM\model.py:616: RuntimeWarning: invalid value encountered in log2
  return 1 - np.exp(-np.log2(fract))
 67%|██████▋   | 2/3 [03:49<01:34, 94.76s/it] c:\users\andre\documents\uni osnabrück\v semester - ws24-25\mem\projekte git\mempydeb\mempyDEB\DEBIBM\model.py:616: RuntimeWarning: invalid value encountered in log2
  return 1 - np.exp(-np.log2(fract))
100%|██████████| 3/3 [03:50<00:00, 76.82s/it]

In [348]:
mout.head(15)

,index,t_day,X,Q,P,N_tot,M_tot,aging_mortality,starvation_mortality,toxicity_mortality,replicate,C_W
0,0,0.0,2.000000,0.010000,2.000000,0,0.0,0,0,0,0,0.0
1,1,0.0,2.098253,0.015788,1.959849,0,0.0,0,0,0,0,0.0
2,2,1.0,5.364691,0.072168,1.262695,0,0.0,0,0,0,0,0.0
3,3,2.0,10.484004,0.146166,0.802128,0,0.0,0,0,0,0,0.0
4,4,3.0,18.481626,0.261087,0.454045,0,0.0,0,0,0,0,0.0
5,5,4.0,30.973073,0.438611,0.135951,0,0.0,0,0,0,0,0.0
6,6,5.0,50.473343,0.634459,0.000000,0,0.0,0,0,0,0,0.0
7,7,6.0,80.927155,1.105476,0.000000,0,0.0,0,0,0,0,0.0
8,8,7.0,128.496247,1.831983,0.000000,0,0.0,0,0,0,0,0.0
9,9,8.0,202.792634,2.962407,0.000000,0,0.0,0,0,0,0,0.0
10,10,9.0,318.829893,4.720297,0.000000,0,0.0,0,0,0,0,0.0
11,11,10.0,NaN,NaN,NaN,0,0.0,0,0,0,0,0.0
12,12,11.0,NaN,NaN,NaN,0,0.0,0,0,0,0,0.0
13,13,12.0,NaN,NaN,NaN,0,0.0,0,0,0,0,0.0
14,14,13.0,NaN,NaN,NaN,0,0.0,0,0,0,0,0.0

In [349]:
aout.head(25)

,index,Step,AgentID,t_day,Idot,Adot,Mdot,S,R,X_V,...,k_M,eta_IA,eta_AR,X_emb,cum_repro,cohort,cause_of_death,mcov,replicate,C_W
0,Step,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
1,AgentID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
0,Step,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
1,AgentID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
0,Step,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0
1,AgentID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0